
        body {
            background-color: rgb(179, 217, 250);
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: rgb(0, 0, 0);
            margin-top: 100px;
            margin-bottom: 100px;
            margin-right: 150px;
            margin-left: 80px;
        }
        p {
            text-align: justify;
        }

        #namareporter {
            font-weight: bold;
            font-size: xx-small;
        }

        .publis {
            font-size: xx-small;
            text-align: center;
        }

        a:link{
            text-decoration: none;
            color: blue;
        }
        a:hover{
            text-decoration: underline;
            color: rgb(0, 255, 21);
            font-size: medium;
        }
        a:visited{
            text-decoration: none;
            color: rgb(225, 43, 43);
        }
        
        .agakmasuk {
            margin-left: 20px;
        }

        .gambar {
            border-radius: 20px; 
        }

        .shadow {
            filter: drop-shadow(4px 4px 8px rgba(0,0,0,0.4));
        }